
body{
    display: grid;
    justify-content: center;
    margin-top: 20%;
    scale: 170%;
}

.bod{
    width: 250px;
    display: grid;
    border: 10px solid #5356C7;
    max-width: 250px;
}

.resultat{
    background-color: #151433;
    color: white;
    height: 70px;
    justify-content: right;
    display: grid;
    max-width: 250px;
}

#res{
    font-size: 25px;
    margin-right: 10px;
    max-width: 240px;
}

#sousRes{
    font-size: 15px;
    margin-top: 10px;
    max-width: 250px;
}

.reset{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: 1fr;
}

#AC , #DEL {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #D4D3F1;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
}

.digits{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.nombre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}



#nbr, #Fois, #Divise, #Plus, #Moins{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
    background-color: #D4D3F1;
}

.operateurs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
}